@import url("reset.css");

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
:root{
    --font-family: 'Roboto', sans-serif;
    --brand-color: #FFFFFF;
    --light-blue-color:#2196F3;
    --light-black-color:#212121;
    --dark-grey-color:#2F303A;
    --grey-color:#757575;
    --light-white-color:#F5F4FA;
    --light-light-grey-color:#ECECEC;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight:400;
}
html,body{
    height: 100%;
}
.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
/*HEADER*/

header{
    background:var(--brand-color);
    padding: 25px 0;
}
.header-container{
    display: flex;
    align-items: center;
    border: 1px var(--light-light-grey-color);
}
.header-logo img{
    width: 145px;
    height: 31px;
}
.header-nav{
    display: flex;
    align-items: center;
    column-gap: 50px;
    margin-left: 93px;
}
.header-address{
    display: flex;
    column-gap: 50px;
    margin-left: auto;
}
.header-link{
    display: flex;
    column-gap: 50px;
    text-decoration: none;
    font-size: 14px;
    color: var(--light-black-color);
}
.header-link.active{
    color: var(--light-blue-color);
}
.header-link-blue{
    color: var(--light-blue-color);
    display: flex;
    column-gap: 50px;
    text-decoration: none;
    font-size: 14px;
}
/*HERO*/
.hero{
    background: var(--dark-grey-color);
}
.hero-container{
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    color: var(--brand-color);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 646px;
    line-height: 1.3;
}
.hero-button{
    background: var(--light-blue-color);
    padding: 16px 46px;
    border:0;
    margin-top: 30px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    color:var(--brand-color) ;
    cursor: pointer;
}

/*PLANNING*/
.planning{
    background: var(--brand-color);
    padding: 94px 0;
}
.planning-content{
    display: flex;
    gap: 30px;
    margin-bottom: 94px;
}
.planning-box{
    flex: 1 1 20%;
}
.planning-title{
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.planning-text{
    color: var(--grey-color);
    font-size: 14px;
    font-weight: 400;
}
.doing{

}
.doing-title{
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 50px;
    text-align: center;
}
.doing-images{
    display: flex;
    gap: 30px;
}
.hero-img{
    height: 260px;
    flex: 1 1 30%;
}
.doing-images img{
    width:100%;
    object-fit: cover;
}
/*TEAM*/
.team{
    padding: 90px 0;
    background: var(--light-white-color);
}
.team-title{
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 50px;
    text-align: center;
}
.team-members{
    display: flex;
    gap: 30px;

}
.team-member{
    border-radius: 4px;
    background: var(--brand-color);
    flex: 1 1 25%;
}
.team-member-img{
    height: 260px;
    width:100%;
    object-fit: cover;
}
.team-description{
    padding: 30px 0;
}
.team-member-name{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
.team-member-position{
    color: var(--grey-color);
    margin:10px 0 0 0;
    font-size: 16px;
    font-weight: 400;
    text-align: center;

}
/*FOOTER*/
footer{
    background: var(--dark-grey-color);
    padding: 60px 0;
    margin-top: auto;
}
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.footer-logo img{
    width: 161px;
    height: 31px;
}
.footer-address{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 9px;
}
.footer-text{
    color: var(--brand-color);
}
.footer-link{
    text-decoration: none;
    font-size: 14px;
    color: #FFFFFF99;
}
.tel{
    font-size: 14px;
    color: #FFFFFF99;
    text-decoration: none;
}
/*Portfolio*/
.portfolio-container{
    background: var(--brand-color);
}
.portfolio-buttons{
    display: flex;
    margin: 94px 0 50px 0;
    justify-content: center;
    gap: 8px;
}
.portfolio-button{
    background: var(--light-white-color);
    padding: 9px 25px;
    border:1px solid var(--light-white-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    color: var(--light-black-color);
}

.portfolio-button:hover{
    background: var(--light-blue-color);
    color: var(--brand-color);
}

.portfolio-cards{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 94px;
}
.portfolio-card{
    background: var(--brand-color);
    flex: 1 1 30%;
}
.portfolio-image{
    width: 100%;
    height: 294px;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}
.portfolio-card img{
    height: 294px;
    width:100%;
    object-fit: cover;
}
.portfolio-card:hover .portfolio-overlay{
    opacity: 1;
}
.portfolio-overlay{
    background: rgba(33, 150, 243, 0.9);
    font-weight: 400;
    color:var(--brand-color);
    font-size: 18px;
    padding: 24px;
    position: absolute;
    inset:0;
    display: flex;
    align-items: center;
    opacity: 0;
}
.portfolio-description{
    padding: 20px 24px;
}
.portfolio-title{
    font-weight: 700;
    font-size: 18px;
}
.portfolio-class{
color: var(--grey-color);
margin:10px 0 0 0;
font-size: 16px;
font-weight: 400;
}

