@import url("reset.css");

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
:root{
    --font-family: 'Roboto', sans-serif;
    --brand-color: #FFFFFF;
    --light-blue-color:#2196F3;
    --light-black-color:#212121;
    --dark-grey-color:#2F303A;
    --grey-color:#757575;
    --light-white-color:#F5F4FA;
    --light-light-grey-color:#ECECEC;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight:400;
}
html,body{
    height: 100%;
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
/*HEADER*/

header{
    background:var(--brand-color);
    padding: 25px 0;
}
.header-container{
    display: flex;
    align-items: center;
    border: 1px var(--light-light-grey-color);
}
.header-logo img{
    width: 145px;
    height: 31px;
}
.header-nav{
    display: flex;
    align-items: center;
    column-gap: 50px;
    margin-left: 93px;
}

.header-nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    margin-left: 93px;
}
.filters-list{
    position: absolute;
    top: -500%;
    left: -500%;
    opacity: 0;
    transition-property: top,left, opacity;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.header-nav-item:hover .filters-list{
    top: 100%;
    opacity: 1;
    left:0;
}
.header-nav-item:hover .filters-list{
    display: block;
}
.filter-part{
    text-decoration: none;
    color: var(--light-black-color);
    padding: 5px 0 5px;
    border: 1px solid var(--light-white-color);
    display: flex;
    align-items: center;
    background: var(--brand-color);
    font-size: 14px;
    z-index: 1;
}
.header-nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.header-filter{
    position: relative;
}
.filters-contacts{
    position: absolute;
    top: 0;
    right: -500%;
    opacity: 0;
    justify-content: center;
    align-items: center;
    background: var(--brand-color);
    transition-property: bottom,right;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}

.header-filter:hover .filters-contacts{
    display: block;
    right:100%;
    opacity: 1;
}
.filter-contact{
    text-decoration: none;
    color: var(--light-black-color);
    border: 1px solid var(--light-white-color);
    display: block;
    padding: 15px;
    background: var(--brand-color);
    font-size: 14px;
}
/*.filter-tel{
    white-space: nowrap;
}*/
.header-address{
    display: flex;
    column-gap: 50px;
    margin-left: auto;
}
.header-link{
    display: flex;
    column-gap: 50px;
    text-decoration: none;
    font-size: 14px;
    color: var(--light-black-color);
}
.header-link.active{
    color: var(--light-blue-color);
}
.header-link-blue{
    color: var(--light-blue-color);
    display: flex;
    column-gap: 50px;
    text-decoration: none;
    font-size: 14px;
}
/*HERO*/
.hero{
    background-image: url('../img/hero-main.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}
.hero::before{
    content: '';
    position: absolute;
    inset:0;
    background: rgba(47, 48, 58, 0.4);
}
.hero-container{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    color: var(--brand-color);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 646px;
    line-height: 1.3;
}
.hero-button{
    background: var(--light-blue-color);
    padding: 16px 46px;
    border:0;
    margin-top: 30px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    color:var(--brand-color) ;
    cursor: pointer;
}

/*PLANNING*/
.planning{
    background: var(--brand-color);
    padding: 94px 0;
}
.planning-content{
    display: flex;
    gap: 30px;
    margin-bottom: 94px;
}
.planning-box{
    flex: 1 1 20%;
    position: relative;
    padding-top:150px;
}
.planning-box::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    background: var(--light-white-color) url(../img/antenna.png) no-repeat center;
    border: 1px solid var(--light-white-color);
    border-radius: 4px;

}

.planning-box:nth-child(2)::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 96px;
    background: var(--light-white-color) url(../img/clock.png) no-repeat center;
    border: 1px solid var(--light-white-color);
    border-radius: 4px;
}
.planning-box:nth-child(3)::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 96px;
    background: var(--light-white-color) url(../img/diagram.png) no-repeat center;
    border: 1px solid var(--light-white-color);
    border-radius: 4px
}
.planning-box:nth-child(4)::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 96px;
    background: var(--light-white-color) url(../img/astronaut.png) no-repeat center;
    border: 1px solid var(--light-white-color);
    border-radius: 4px;
}

.planning-title{
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.planning-text{
    color: var(--grey-color);
    font-size: 14px;
    font-weight: 400;
}
.doing-title{
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 50px;
    text-align: center;
}
.doing-images{
    display: flex;
    gap: 30px;
}
.hero-img{
    height: 260px;
    flex: 1 1 30%;
    position: relative;
}
.doing-images img{
    width:100%;
    object-fit: cover;
    height: 100%;
}
.doing-image-content{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
    color: var(--brand-color);
    position: absolute;
    height: 70px;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
/*TEAM*/
.team{
    padding: 90px 0;
    background: var(--light-white-color);
}
.team-title{
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 50px;
    text-align: center;
}
.team-members{
    display: flex;
    gap: 30px;

}
.team-member{
    border-radius: 4px;
    background: var(--brand-color);
    flex: 1 1 25%;
}
.team-member-img{
    height: 260px;
    width:100%;
    object-fit: cover;
}
.team-description{
    padding: 30px 0 16px 0;
}
.team-member-name{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
.team-member-position{
    color: var(--grey-color);
    margin:10px 0 0 0;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.social-link-member{
    width: 44px;
    height: 44px;
    border: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    background-color: rgba(255, 255, 255, 0.1);
}
.team-member-social{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.social-icon-member{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;

}
.social-icon-member svg{
    width:20px;
    height:20px;
}
.social-item:hover .social-link-member{
    background-color: var( --light-blue-color) ;
    color: var(--brand-color);
}
/*CUSTOMERS*/
.customers-container{
    padding: 90px 0 50px 0;
}
.customer-title{
    font-weight: 700;
    font-size: 36px;
    color: var(--light-black-color);
    text-align: center;
}
.customers-title{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.customers-members{

}
.customers-list{
    display: flex;
    align-items: center;
    gap: 30px;
}

.customer-link{
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
}
.customers-item{
    flex: 1 1 16%;

}
.customers-icon{
    width:106px;
    height:60px;
}
.customers-item:hover .customer-link{
    color: var(--light-blue-color);
    border-color: var(--light-blue-color);
}
.hidden{
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    opacity: 0;
}

/*FOOTER*/
footer{
    background: var(--dark-grey-color);
    padding: 60px 0;
    margin-top: auto;
}
.footer-container{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-left{
    display: block;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.footer-logo img{
    width: 161px;
    height: 31px;
    margin-bottom: 20px;
}
.footer-address{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 9px;
}
.footer-text{
    color: var(--brand-color);
}
.footer-link{
    text-decoration: none;
    font-size: 14px;
    color: #FFFFFF99;
}
.tel{
    font-size: 14px;
    color: #FFFFFF99;
    text-decoration: none;
}
.join{
    color: var(--brand-color);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;

}
.footer-social{
    margin-left: 70px;
    align-items: center;
}
.social-list{
    display: flex;
    align-items: center;
    gap: 10px;
}
.social-link{
    display: flex;
    width: 44px;
    height: 44px;
    border: 0;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: var(--brand-color);
    background-color: rgba(255, 255, 255, 0.1);

}
.social-icon{
    width: 20px;
    height: 20px;
}
.social-icon svg{
    width:20px;
    height:20px;
}
.social-item:hover .social-link{
    background-color: var( --light-blue-color) ;
}

/*Portfolio*/
.portfolio-container{
    background: var(--brand-color);
}
.portfolio-buttons{
    display: flex;
    margin: 94px 0 50px 0;
    justify-content: center;
    gap: 8px;
}
.portfolio-button{
    background: var(--light-white-color);
    padding: 9px 25px;
    border:1px solid var(--light-white-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    color: var(--light-black-color);
}

.portfolio-button:hover{
    background: var(--light-blue-color);
    color: var(--brand-color);
}

.portfolio-cards{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 94px;
}
.portfolio-card{
    background: var(--brand-color);
    flex: 1 1 30%;
}
.portfolio-image{
    width: 100%;
    height: 294px;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}
.portfolio-card:hover .portfolio-overlay{
    opacity: 1;
    height:100%;
}
.portfolio-overlay{
    background: rgba(33, 150, 243, 0.9);
    font-weight: 400;
    color:var(--brand-color);
    font-size: 18px;
    height:0;
    padding: 24px;
    position: absolute;
    inset:0;
    display: flex;
    align-items: center;
    opacity: 0;
    transition-property: height, opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.portfolio-description{
    padding: 20px 24px;
}
.portfolio-title{
    font-weight: 700;
    font-size: 18px;
}
.portfolio-class{
color: var(--grey-color);
margin:10px 0 0 0;
font-size: 16px;
font-weight: 400;
}


@media (max-width : 1024px) {

    .planning-content {
        flex-wrap: wrap;
    }
    .planning-box {
        flex-basis: 47%;
    }
    .doing {
        display: none;
    }
    .team-members {
        flex-wrap: wrap;
    }

    .team-member {
        flex-basis: 47%;
    }
    .customers {
        display: none;
    }
    .portfolio-cards {
        margin-left: 50px;
        gap: 20px;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    .portfolio-card {
        flex-basis: 47%;
    }
    .portfolio-overlay{
        display: none;
    }

}
@media (max-width: 600px) {
    .header-logo img {
        width: 100px;
        height: 20px;
    }

    .header-nav {
        display: none;
    }

    .header-nav-list {
        column-gap: 14px;
        margin-left: 40px
    }

    .filters-list {
        display: none;
    }

    .header-nav-item {
        display: none;
    }

    .header-address {
        display: none;
    }

    .header-burger {
        display: block;
        width: 30px;
        height: 20px;
        margin-left: auto;
        position: relative;
        cursor: pointer;
    }

    .header-burger::before,
    .header-burger::after,
    .header-burger span {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 2px;
        background-color: var(--light-blue-color);
    }

    .header-burger::after {
        top: auto;
        bottom: 0;
    }

    .header-burger span {
        top: 50%;
        transform: translateY(-50%);
    }

    .hero-container {
        min-height: 300px;
    }

    .hero-title {
        font-size: 26px;
    }

    .hero {
        max-width: 600px;
    }

    .planning {
        padding: 45px 0;
    }

    .planning-content {
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    .planning-box {
        flex-basis: 100%;
    }

    .doing {
        display: none;
    }

    .team {
        padding: 45px 0;
    }

    .team-title {
        font-size: 28px;
        margin-bottom: 25px;
    }

    .team-members {
        flex-wrap: wrap;
    }

    .team-member {
        flex-basis: 100%;
    }

    .customers {
        display: none;
    }

    footer {
        padding: 35px 0;
    }

    .footer-logo img {
        width: 100px;
        height: 20px;
    }

    .footer-address {
        font-size: 12px;
        text-align: center;
    }

    .footer-link {
        font-size: 12px;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-left{
        vertical-align: center;
    }

    .tel {
        font-size: 12px;
    }
    .join{
        display: none;
    }
    .social-link {
        display: none;
    }

    .portfolio-buttons {
        margin: 50px 0 25px 0;
    }

    .portfolio-button {
        padding: 4px 10px;
        font-size: 12px;
    }

    .portfolio-cards {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    .portfolio-card {
        flex-basis: 100%;
    }
    .portfolio-overlay{
        display: none;
    }
    .portfolio-description{
        padding: 10px 12px;
    }
    .portfolio-title{
        font-size:12px;
    }
    .portfolio-class{
        font-size: 12px;
    }
}

